body {
  font-family: "Raleway", sans-serif;
}

nav {
  background-color: black;
}

h1 {
  margin-bottom: 5%;
  background-color: black;
  color: fuchsia;
  padding: 1%;
}

p {
  font-size: large;
}

.col {
  padding: 0px;
}
.navbar {
  padding: 1%;
  font-family: "Raleway", sans-serif;
}

.mobileNav {
  color: white;
  background-color: black;
  width: 100%;
  padding: 0;
  border: none;
  font-family: "Raleway",
    sans-serif;
  padding-bottom: 1%;

}

.dropMobile {
  padding: 0px;
  margin-top: 1%;
}
.dropdown-menu{
  background-color: black;
}

.mobileNav a {
  color: white;
  padding-left: 5%;
  width: 100%;
  font-size: x-large;

}

.nav-brand {
  color: white;
  font-family: "Raleway", sans-serif;
  letter-spacing: 7px;
}

.sinRadio {
  border-radius: 0;
}

.barra {
  width: 100%;
}

.btn-dark {
  background-color: black;
  width: 100%;
}

.name {
  font-size: 150%;
  background-color: black;
  border: none;

}

.nameMobile {
  width: 85%;
}

.recuadro {
  background-color: black;
  width: 200px;
  height: 300px;
}

.carrosa {
  max-height: 760px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.carrosaTitle {
  background-color: black;
  color: white;
  font-family: "Raleway", sans-serif;
  padding: 2%;
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.yo {
  width: 100%;
  box-shadow: 5px 5px 25px #222 inset;
  margin-left: 5%;
  margin-top: 20%;
  margin-bottom: 5%;
}

a {
  color: fuchsia;
}

.navbar a {
  width: 100%;
}

a:active {
  color: #1a2980;
}

.whoIm {
  color: black;
  margin-left: 7%;
}

#quienSoy {
  padding-top: 7%;
  padding-bottom: 11%;
  background: #ff0084;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #33001b, #ff0084);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #33001b, #ff0084);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#queHago {
  padding-top: 5%;
  padding-bottom: 6%;

  background: #1a2980;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26d0ce, #1a2980);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #26d0ce, #1a2980);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: large;
  padding-left: 5%;
}

#contacto {
  padding-top: 2%;
  font-size: large;
  background-color: black;
}

#doTitle {
  color: #26d0ce;
}

#galeria {
  margin-left: 5%;
  margin-top: 5%;
}
#dLabel
{
    background-color: black;
    color: white;
    border: none;

}

.prueba {
  width: 30px;
  height: 30px;
}

.footer {
  background-color: black;
  padding-bottom: 1%;
}

.footer img,
.footer span {
  margin-right: 2%;
  font-size: large;
  color: white;
}

.whatIdo a {
  background-color: fuchsia;
  color: #1a2980;
}

.contactTitle {
  margin: 0px;
}
.separation {
  margin-top: 5%;
}